:root {
    /* Cores principais */
    --yellow: #FFD000;
    --orange: #FF6B00;
    --orange2: #FF4500;
    --teal: #00C9A7;
    --blue: #3B82F6;
    --pink: #FF3CAC;
    --green: #22C55E;
    --green2: #4ADE80;
    --red: #EF4444;
    --red2: #E8202A;
    --purple: #A855F7;
    --lavanda: #7C3AED;

    /* Fundos */
    --dark: #0D0D1A;
    --dark2: #13132A;
    --dark3: #1A1A35;
    --dark4: #1F1F38;
    --branco: #fff;
    --light: #F5F0E8;
    --light2: #EDE8DE;
    --light3: #DDD8CE;
    --text-dark: #1A1A2E;

    /* Raridades de Brawlers */
    --c-starter: #9CA3AF;
    --c-rare: #22C55E;
    --c-super: #3B82F6;
    --c-epic: #A855F7;
    --c-mythic: #EF4444;
    --c-leg: #FFD000;
    --c-ultra: #FF6B00;

    /* Raridades de Brawlers Fundo */
    --c-b-starter: rgba(255, 255, 255, .07);
    --c-b-rare: rgba(0, 201, 167, .15);
    --c-b-super: rgba(59, 130, 246, .15);
    --c-b-epic: rgba(168, 85, 247, .15);
    --c-b-mythic: rgba(239, 68, 68, .15);
    --c-b-leg: rgba(255, 208, 0, .15);
    --c-b-ultra: rgba(255, 208, 0, 0.15);

    /* Raridades de Skins */
    --c-true-silver: #9CA3AF;
    --c-true-gold: #F59E0B;
    --c-hyper: #FF6B00;
    --c-brawlpass: #FF3CAC;

    /* Raridades de Buffies */
    --c-gadget: #22C55E;
    --c-star: #FFD000;
    --c-hyper-buffie: #A855F7;
    --c-bling: #FF3CAC;

    /* Raridades de NanoPoderes */
    --c-basico: #22C55E;
    --c-aumentado: #3B82F6;
    --c-cibernetico: #A855F7;
    --c-quantico: #FFD000;

    /* Border radius */
    --card-r: 16px;

    /* setas */
    --s-ok: #22C55E;
    --s-wip: #FFD000;
    --s-todo: #EF4444;
    --s-planned: #A855F7;
}